/* Background */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #00c6ff, #0072ff); /* Blue gradient */
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
}

/* Card */
.login-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 16px;
  width: 350px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.9s ease-in-out;
  text-align: left;
}

/* Header */
.login-header h2 {
  text-align: center;
  font-size: 24px;
  color: #1d3557;
  margin-bottom: 5px;
}

.login-header h2 span {
  color: #0072ff;
}

.login-header p {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

/* Inputs */
label {
  display: block;
  margin-top: 12px;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}
.login-card input[type="email"],
.login-card input[type="password"],
.login-card input[type="text"] {
  width: 92%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #fafafa;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #0072ff;
  box-shadow: 0 0 6px rgba(0, 114, 255, 0.3);
}

/* Password Wrapper */
.password-wrapper {
  position: relative;
}

.password-wrapper .toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 16px;
}

/* Button */
.login-card button {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  background: #0072ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}


button:hover {
  background: #005fcc;
}

/* Spinner */
.spinner {
  width: 18px;
  height: 18px;
  border: 3px solid #fff;
  border-top: 3px solid #005fcc;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Forgot Password */
.forgot-password {
  text-align: right;
  margin: 8px 0 12px;
}

.forgot-password a {
  font-size: 13px;
  color: #0072ff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Signup link */
.signup-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.signup-link a {
  color: #0072ff;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

/* Error */
.error {
  color: #e63946;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
  animation: shakeFade 0.4s ease;
}

@keyframes shakeFade {
  0% { transform: translateX(0); opacity: 0.8; }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); opacity: 1; }
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-15px); }
  to { opacity: 1; transform: translateY(0); }
}
